<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit Form</title>
</head>
<body>

<center><h1>edit form</h1>
    <form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
        <p>Name: <input type="text" th:value="*{name}" th:field="*{name}"/></p>
        <p>City: <input type="text" th:value="*{city}" th:field="*{city}"/></p>
        <p>Email: <input type="text" th:value="*{login}" th:field="*{login}"/></p>
        <p>Password: <input type="text" th:value="*{password}" th:field="*{password}"/></p>
        <p><b>Role:</b></p>
        <input type="hidden" th:value="*{id}" th:field="*{id}"/>
        <div th:each="item : ${allRoles}">
            <input type="checkbox" th:name="newRoles" th:value="${item}"/><label th:text="${item}">_</label>
        </div>

        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</center>
</body>
</html>